.landing-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.landing-view .app-container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.landing-view .hidden {
  display: none;
}

.landing-view .controls {
  position: absolute;
  z-index: 1;
}
