rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/objects/{objectId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    // Add connection rules
    match /users/{userId}/connections/{connectionId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
